.mainArticlesSection {
  padding-top: 80px;
}

.mainArticlesNavBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainArticlesTitle {
  color: #011936;
  font-family: "Yeseva One";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 42px */
}

.mainArticlesBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mainArticlesShowAllBtn {
  padding: 5px 20px;
  border-radius: 30px;
  background-color: #dcebf8;
  color: #43607c;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  /* width: 158px;
  height: 35px; */
}

.mainArticleSlideBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mainArticlesSlideBtn {
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.mainArticlesList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  min-height: 343px;
}

.mainArticleItem {

}

.mainArticleItemBox {
  padding: 0 16px;
}

.mainArticlesItemTitle {
  color: #43607c;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  margin-top: 20px;
}

.mainArticleItemDescription {
  color: #43607c;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: 20px;
}

/* .glawBox{
    margin-bottom: 80px;
    margin-top: 80px;

}

.listCards{
    display: flex;
  list-style: none;
  gap: 18px;
}


.BoxesFlex{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.BtnAllPoregl{
    display: flex;
    height: 35px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--blue-bg-border, #dcebf8);
    color: var(--CTA-blue, #43607c);
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.BoxesFlexInfo{

  display: flex;
  margin-left: auto;
}

.StateArrowBtn{
    background-color: transparent;
    border: none;

}

.StateCardBox{
    display: flex;
    width: 280px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    background: var(--White, #fff);
    box-shadow: 0px 2px 10px 0px rgba(67, 96, 124, 0.25);
    
}

.GlawTxtState{
    color: var(--Black, #011936);
  font-family: "Yeseva One";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.StateCardTitle{
    
width: 248px;
  color: var(--CTA-blue, #43607c);
  font-family: Verdana;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding-left: 15px;
}


.StateCardSubtitle{
  padding-top: 20px;
  padding-left: 15px;
    width: 248.4px;
    color: var(--CTA-blue, #43607c);
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
} */
