.templateOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.template {
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 40px;
  font-family: "Verdana";
  border-radius: 20px;
}
.templateTitle {
  font-family: "Yeseva One";
  color: #011936;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
}
.templateDate {
  color: #43607c;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.templateForm {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.templateBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  & .templateLabel:last-child {
    margin-bottom: 0px;
  }
}
.templateLabel {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #43607c;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  position: relative;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  & div[data-weight-subbox] {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
.templateInput {
  border-radius: 50px;
  background: #f9f9f9;
  padding: 10px 20px;
  color: #43607c;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.templateTextarea {
  border-radius: 20px;
  background: #f9f9f9;
  padding: 10px 20px;
  scrollbar-width: 0px;
}
.templateCloseBtn {
  background-color: transparent;
  position: absolute;
  top: 40px;
  right: 40px;
}
.templateList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.templateItem {
  padding: 10px 20px;
  border-radius: 50px;
  background: #f9f9f9;
  color: #43607c;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}
.templateSubBox {
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: 40px;
  border: 1px solid #ffe1e1;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #a63a50;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  & > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
.templateBtn {
  border-radius: 50px;
  outline: 1px solid #84a6c2;
  background: #fff;
  margin-bottom: 10px;
  padding: 10px 30px;
  color: #43607c;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  &:first-of-type {
    background: var(--CTA-red, #a63a50);
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
}
